.containerTodoList {
    background-color: #ceaab0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30rem;
    margin: 0 auto;
    box-shadow: 0 0 10px rgb(206,170,176);
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    margin: 8px auto;
}

.containerTitleAddTask {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10%;
    justify-content: center;
}

.titleTodoList {
    font-size: xx-large;
    color: rgb(56, 56, 56);
}

.containerListTask {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 0;
}

.containerLi {
    display: flex; 
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    font-size: larger;
    color: rgb(56, 56, 56);
    background-color: #ffffff11;
    margin: 2px;
}

.buttonRemoveTodo {
    background: transparent;
    border: none;
}
.buttonInProgress{
    background-color: transparent;
    border: none;
}
.buttonCompleteTodo{
    background: transparent;
    border: none;
}

@media screen and (max-width: 600px) {
    .containerTodoList {
        width: 90%;
    }
    
    .containerTitleAddTask {
        flex-direction: column;
        gap: 5%;
    }
    
    .titleTodoList {
        font-size: 1.5rem;
        text-align: center;
    }
    
    .containerLi {
        font-size: 1rem;
    }
}
