.search-wrapper {
    display: flex;
    justify-content: center;
    margin: 1%;
  }
  
  .container-search-group {
    display: flex;
    align-items: flex-start;
    gap: 1rem; 
  }
  
  .input-and-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  
  .container-search {
    border: 1px solid #0e110c;
    border-radius: 8px;
    display: flex;
    align-items: center;
    width: 24rem;
    overflow: hidden;
  }
  
  .input-search {
    height: 38px;
    border: none;
    width: 100%;
    background-color: transparent;
    padding: 0 8px;
  }
  
  input::placeholder {
    color: #0e110c; 
  }
  
  .button-input {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 2px;
  }
  
  .input-search:focus {
    border: none;
    outline: none;
  }
  
  .img-search {
    width: 30px;
    height: 30px;
  }
  
  @media screen and (max-width: 480px) {
    .container-search-group {
      gap: 0rem;
    }
    
    .container-search {
      width: 100%;
      max-width: 100%;
    }
  }
  