.container-search{
    border: 1px solid rgb(170, 131, 131);
    border-radius: 8px;
    display: flex;
    align-items: center;
    width: 26%;
    margin: 0 auto;
}
.input-search{
    height: 38px;
    border: none;
    width: 100%;
}
.button-input{
    height: 28px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.input-search:focus{
    border: none;
    outline: none;
}
.img-search{
    width: 24px;
    height: 20px;
}
.search-wrapper {
    display: flex;
    justify-content: center;
    padding: 10px;
}
